﻿
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<div>
    Hay: <span id="cantidad"></span>Usuarios Activos
</div>

<div class="container">
    <input type="text" id="mensaje" />
    <input type="button" id="enviarmensaje" value="Enviar" />
    <input type="hidden" id="mostrarnombre" />
    <ul id="debate"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>

        $(function () {
            var chat = $.connection.chatHub;

            chat.client.mostrarConectados = function (contador) {
                $("#cantidad").html(contador);
            }

            chat.client.addNuevoMensajeEnPagina = function (nombre, mensaje) {

                $('#debate').append('<li><strong>' + codificarHtml(nombre)
                    + '</strong>: ' + codificarHtml(mensaje) + '</li>');
            };
            $('#mostrarnombre').val(prompt('Introduce tu nombre: ', ''));
            $('#mensaje').focus();
            $.connection.hub.start().done(function () {
                $('#enviarmensaje').click(function () {
                    chat.server.enviar($('#mostrarnombre').val(), $('#mensaje').val());
                    $('#mensaje').val('').focus();
                });
            });
        });

        function codificarHtml(valor) {
            var valorcodificado = $('<div/>').text(valor).html();
            return valorcodificado;
        }
    </script>
}

